language: java
jdk:
- oraclejdk8

sudo: required
services:
  - docker

before_cache:
  # We cache the SDK so we don't have to download it again on subsequent builds.
#- $HOME/google-cloud-sdk
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/

env:
  global:
    # Do not prompt for user input when using any SDK methods.
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
    - SHA=$(git rev-parse HEAD)

before_install:
  - openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv -in service-account.json.enc -out service-account.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file service-account.json
  - gcloud config set project multi-ks8
  - gcloud config set compute/zone europe-west1-b
  - gcloud container clusters get-credentials multi-cluster
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

install: true
script: true

jobs:
  include:
  - stage: Frontend Tests
    script: docker run pachecopaulo/react-test npm test -- --coverage
    before_script:
      - docker build -t pachecopaulo/react-test -f ./client/Dockerfile.dev ./client
  - stage: Lint
    script: ./gradlew lintKotlin
  - stage: Deploy
    deploy:
      provider: script
      script: bash ./deploy.sh
      on:
        branch: master
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/