language: java
jdk:
- oraclejdk8

sudo: required
services:
  - docker

before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/

before_install:
  - openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv -in service-account.json.enc -out service-account.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file service-account.json

jobs:
  include:
  - stage: Frontend Build
    script: docker run pachecopaulo/react-test npm test -- --coverage
    before_script:
      - docker build -t pachecopaulo/react-test -f ./client/Dockerfile.dev ./client
  - stage: Lint
    script: ./gradlew lintKotlin
#  - stage: Backend Test
#    script: ./gradlew test
#    before_script:
#      - docker run --name redis-test-db -p 6379:6379 -d redis
  - stage: Build and Push Images
    script:
      - docker build -t pachecopaulo/multi-client ./client
      - docker build -t pachecopaulo/multi-server .
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
      - docker push pachecopaulo/multi-client
      - docker push pachecopaulo/multi-server
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/